
*{
  padding: 0;
  margin: 0;
}
html,body{
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
.poster{
  position: relative;
  width: 100vw;
  height: 440px;
  background-color: #fdfdfd;
}
.poster_text{
  width: 50vw;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.poster_text_title{
  font-size: 50px;
  font-weight: bold;
}
.poster_text_msg{
  font-size: 14px;
  color: #aaa;
}
.logo{
  position: absolute;
  left: 60%;
  width: 440px;
  height: 440px;
  background-color: #ea6102;
  border-radius: 150px;
}
.logo::before{
  content: '';
  display: block;
  position: absolute;
  width: 190px;
  height: 170px;
  top: 132px;
  left: 86px;

  box-sizing: border-box;
  border-color: #fff;
  border-style: solid;

  border-left-width: 40px;
  border-right-width: 40px;
  border-top-width: 36px;
  border-top-right-radius: 56px;
  border-bottom: 0;
}
.logo::after{
  content: '';
  display: block;
  position: absolute;
  top: 198px;
  left: 160px;
  width: 42px;
  height: 42px;
  background-color: #fff;
  border-radius: 4px;

  box-shadow: 0px 36px 0px 0px #fff,
  0px 63px 0px 0px #fff,
  150px -66px 0px 0px #fff,
  150px -33px 0px 0px #fff,
  150px 0px 0px 0px #fff,
  150px 36px 0px 0px #fff,
  150px 63px 0px 0px #fff;

}
.item{
  position: relative;
  width: 100vw;

}
.item_title{
  width: 100vw;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #fafafa;
  line-height: 100px;
}
.item_msg{
  width: 100vw;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #aaa;
  text-align: center;
  background-color: #fafafa;
}
.iconfont{
  position: absolute;
  top: 325px;
  z-index: 10;
  font-size: 50px;
  user-select: none;
  cursor: pointer;
}
.item_btn .toleft{
  left: 50px;
}
.item_btn .toright{
  right: 50px;
}
.item_imgs{
  font-size: 0;
  width: 9480px;
  user-select: none;
  transform: translateX(0px);
  transition: all 0.2s ease-in-out;
}
.item_imgs img{
  height: 400px;
}